/.idea/*
/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/hashcode.iml
/.idea/uiDesigner.xml
/data/me_at_the_zoo.out
/me_at_the_zoo.out
/out/production/hashcode/HashCache.class
/out/production/hashcode/HashEndpoint.class
/out/production/hashcode/HashInputter.class
/out/production/hashcode/HashManager.class
/out/production/hashcode/HashOptimiser.class
/out/production/hashcode/HashOutputter.class
/out/production/hashcode/HashRequest.class
/out/production/hashcode/HashVideo.class
/src.zip
/out/production/hashcode/HashScorer.class
/data/kittens.out
/data/trending_today.out
/data/videos_worth_spreading.out
/out/production/hashcode/HashNode.class
/src/HashCache.class
/src/HashEndpoint.class
/src/HashInputter.class
/src/HashManager.class
/src/HashNode.class
/src/HashOptimiser.class
/src/HashOutputter.class
/src/HashRequest.class
/src/HashScorer.class
/src/HashVideo.class
/src/data/kittens.in
/src/data/kittens.out
/src/data/me_at_the_zoo.in
/src/data/trending_today.in
/src/data/videos_worth_spreading.in
/out/production/hashcode/data/kittens.in
/out/production/hashcode/data/me_at_the_zoo.in
/out/production/hashcode/data/me_at_the_zoo.out
/out/production/hashcode/data/trending_today.in
/out/production/hashcode/data/trending_today.out
/out/production/hashcode/data/videos_worth_spreading.in
/out/production/hashcode/data/videos_worth_spreading.out
