/.idea/*
/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/hashcode.iml
/.idea/uiDesigner.xml
/data/me_at_the_zoo.out
/me_at_the_zoo.out
/out/production/hashcode/HashCache.class
/out/production/hashcode/HashEndpoint.class
/out/production/hashcode/HashInputter.class
/out/production/hashcode/HashManager.class
/out/production/hashcode/HashOptimiser.class
/out/production/hashcode/HashOutputter.class
/out/production/hashcode/HashRequest.class
/out/production/hashcode/HashVideo.class
/src.zip
